$orange: #FF874F;
$orange-dark: #ef6c00;
$purple: #0f3b8d;
$purple-dark: #0a2e71;
$blue: #217AFF;
$pink: #EC5E95;
$pink-dark: #CE3C75;
$green: #33c8a1;
$green-dark: #26957c;
$grey-light: #eee6f6;
$grey: #b4b4b4;
$grey-dark: #9a9a9a;
$red: #f14c4c;
$red-dark:#d82020;
$black: #000;
$white: #fff;